# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Sensitive variables
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# Crash log files
crash.log
